[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/tencent/rapidjson
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson
[submodule "third_party/libcds"]
	path = third_party/libcds
	url = https://github.com/khizmax/libcds
[submodule "third_party/uringpp"]
	path = third_party/uringpp
	url = https://github.com/howardlau1999/uringpp
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
